header{
	position: absolute;
	width: 100%;
	height: 35px;
	/*background: #f2f2f2;*/
	top: 0px;
	left: 0px;
	right: 0px;
}
ul{
	list-style-type: none;
	margin, padding: 0;
}

li{
	display: inline;
	margin-right: 10px;
}
li:hover{
	text-decoration: underline;
}

#function{
	/*width: 50%;*/
	margin: auto;
	text-align: center;
	width: 80%;
	margin-top: 200px;
}

.search-bar{
	margin-top: 20px;
	height: 34px;
	width: 500px;
	border-radius: 2px;
	font: 16px Arial, sans-serif;
	background-position: right 25px center;
	background-repeat: no-repeat;
}

button {
	margin-top: 15px;
	margin-right: 10px;
	padding: 10px, 20px;
	text-align: center;
	background-color: #f2f2f2;
	color: #686868;
	border: none;
}

.leftside{
	float: left;
}

.rightside{
	float: right;
}

footer{
	position: absolute;
	width: 100%;
	height: 35px;
	background: #f2f2f2;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-top: 0.5px solid #e4e4e4;
}
